<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  
  <link rel="stylesheet" href="/css/styles.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">AMBUJ JOURNAL</p>
      </div>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ambuj">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

          <div class="collapse navbar-collapse" id="ambuj">
          <ul class="nav navbar-nav navbar-right mx-auto">
            <li class="nav-item " id="home"><a class = "nav-link" href="/">HOME</a></li>
            <li class="nav-item" id="about"><a class = "nav-link" href="/about">ABOUT US</a></li>
            <li class="nav-item" ><a class = "nav-link" href="/contact">CONTACT US</a></li>
            <li class="nav-item" id="compose"><a class = "nav-link" href="/register">Sign UP</a></li>
            <li class="nav-item" id="compose"><a class = "nav-link" href="/login">COMPOSE</a></li>
          </ul>
        </div>
    </div>
  </nav>

  <body>
    <div class="container">
