<%- include("partials/header"); -%>
        <div class = "body-about">

        <div class="top-container">
          <img class="top-cloud" src="/images/cloud.png" alt="cloud">
          <div class="title-text">
            <h1 class="h1-about">I'm Ambuj Mishra</h1>
            <h2 class="h2-about">a <span class="pro">pro</span>grammer.</h2>
          </div>
          <img class="bottom-cloud" src="/images/cloud.png" alt="cloud">
          <img class="mountain" src="/images/mountain.png" alt="mountain-img">
        </div>
      
        <div class="middle-container">
          <div class="profile">
            <img src="/images/pic.png" alt="ambuj-profile-img">
            <h2 class="h2-about">Hello.</h2>
            <p class="intro p-about">I am Final Year B.Tech student of NIT Delhi. I ❤️ coffee and brew my own beers.</p>
          </div>
          <hr>
          <div class="skills">
            <h2 class="h2-about">My Skills.</h2>
            <div class="skill-row">
              <img class="code-img" src="https://media.giphy.com/media/3p50WGyUqeU5W/giphy.gif" alt="code-img">
      
              <h3 class="h3-about">Design & Development</h3>
              <p class="p-about">I started learning to code when I was 12 years old because I wanted to make my own video games. Over time, I have gained a wealth of experience designing and developing mobile and web applications.</p>
      
            </div>
            <div class="skill-row">
              <img class="chilli-img" src="images/chillies.png" alt="chillies-img">
      
              <h3 class="h3-about">Hot Wings Challenge</h3>
              <p class="p-about">But my best skill is actually in eating hot wings. I am the undisputed queen of hot wing challenges. Ghost Peppers and Carolina Reapers are my favourite snacks.</p>
      
            </div>
          </div>
          <hr>
          
        </div>
      
      
        <%- include("partials/footer"); -%>
